body {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

p {
  line-height: 2;
  word-spacing: 0.1rem;
}

img {
  float: left;
  margin-right: 30px;
}

p:first-of-type::first-letter {
  float: left;
  font-size: 2rem;
  padding: 0.2rem;
  margin-right: 0.2rem;
  color: yellow;
  background-color: red;
  line-height: 1.5rem;
  font-family: cursive;
}